* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

body {
    margin: auto;
    width: 1200px;
}

/* inizio header */
header {
    height: 70px;
    margin-bottom: 12px;
}

.nav-homepage {
    margin: 1rem 0;
    font-size: 0.85rem;
}

header img {
    height: 50px;
}

.nav-homepage li {
    display: inline;
    margin-right: 3px;
    color: #B2B2B2;
}
/* fine-header */


/* main */

main {
    margin-top: 2rem;
}



.slideshow{
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    margin-bottom: 0.5rem;
    background-position: center;
    border-radius: 5px;
    background-color:lightgray;
    background-blend-mode: multiply;
}

.slideshow div {
    height: 100%;
    vertical-align: bottom;
}

.titolo {
    color: white;
    padding-top: 300px;
    padding-left: 25px;


}

.titolo-header, .titolo-header2 {
   
}

.titolo-header {
   
}

.titolo-header2 {

}

#leadership {

}
    

#sotto-leadership {
    color: lightgrey;
    
}


.sopra-contenitore {
    height: 50px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.colonna-1 img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 5px;
    margin-bottom: 15px;
    filter: brightness(80%);
}

.colonna-grande img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 5px;
    margin-bottom: 15px;
    filter: brightness(80%);
} 

.colonna-2 img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 5px;
    margin-bottom: 15px;
    filter: brightness(80%);
}

.colonna-1, .colonna-2 {
    width: 19%;   
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.colonna-1, .colonna-2, .colonna-grande {
    float: left;
    height: 100%;
}

.colonna-grande {
    width: 58%;
    margin-left: 2%;
    margin-right: 2%;
}

.contenitor {
    height: 500px;
    padding-bottom:10px ;

}

footer {
    height: 20px;
    margin-top: 2px;
    text-align: center;
    margin-bottom: 2%;
}

.colonna-1 p:last-of-type, .colonna-2 p:last-of-type, .colonna-grande p:last-of-type {
    color: #B2B2B2;
}

